<div class="text-center jumbotron mt-4">
    <h1 class="display-4">Sistema Web Valoration</h1>
    <img src="/img/Sistema_logo.jpg" class="rounded-circle mx-auto d-block m-2 logosistema" alt="Logo Sistema Valoration" style="width: 15%;">
    <p class="lead">Desarrollado por Ramos Pablo Alejandro</p>
    <hr class="my-4">
    <p>Bienvenido al sistema web Valoration, una herramienta desarrollada con tecnología Javascript, Nodejs, Expressjs y MongoDB. Este prototipo está destinado a ser utilizado por los enfermeros del Hospital Guillermo Paterson de San Pedro de Jujuy con el objetivo de optimizar y agilizar el proceso de valoración de pacientes.</p>
</div>