<div class="text-center jumbotron mt-4">
    <h1 class="display-4">Hospital Dr. Guillermo C. Paterson (Jujuy)</h1>
    <img src="/img/Paterson_logo.png" alt="Logo Hospital" class="mx-auto d-block" style="width: 15%;">
    <p class="lead">Dirección: Av. Siria 44, San Pedro de Jujuy, Jujuy</p>
    <hr class="my-4">
    <p>Teléfonos: 03888 42-0006 / 03888 42-0009 / 03888 42-0208 / 03888 42-3200</p>
    <a href="https://www.facebook.com/profile.php?id=100023689132337" class="btn btn-primary btn-lg">Ir a Página de Facebook</a>
</div>

