<div class="row mt-2">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3 class="text-center">Loguin de Usuario</h3>
            </div>
            <img src="/img/Sistema_logo.jpg" class="rounded-circle mx-auto d-block m-2 logosistema" alt="Logo Sistema Valoration">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <button class="btn btn-primary btn-block" type="submit">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>